:root {
    --blue-dl: hsl(212, 100%, 50%);
    --grey-l: hsl(217, 20%, 51%);
    --navy-l: hsl(217, 35%, 45%);
    --black-dl: hsl(220, 40%, 13%);
    --background-light: hsl(227, 100%, 98%);
    --white-l: hsl(0, 0, 100%);
    --white2-l: hsl(227, 100%, 98%);
    --navy-d: hsl(222, 41%, 20%);

}

@media(prefers-color-scheme: dark) {
    :root {
        --blue-dl: hsl(212, 100%, 50%);
        --grey-l: hsl(217, 20%, 51%);
        --navy-l: hsl(217, 35%, 45%);
        --black-dl: hsl(220, 40%, 13%);
        --light-blue-l: hsl(227, 100%, 98%);
        --white-l: hsl(0, 0, 100%);
        --navy-d: hsl(222, 41%, 20%)
    }

}
[color-scheme="dark"]  {
    --blue-dl: hsl(212, 100%, 50%);
    ----white-l-opacity: rgba(255,255,255, 0.5)
    --grey-l: hsl(217, 20%, 51%);
    --navy-l: hsl(217, 35%, 45%);
    --black-dl: hsl(220, 40%, 13%);
    --light-blue-l: hsl(227, 100%, 98%);
    --white-l: hsl(0, 0, 100%);
    --navy-d: hsl(222, 41%, 20%);
    --button-svg: url("./assets/icon-sun.svg");
    --background-color: var(--black-dl);
    --container-background: var(--navy-d);
    --textcolor: white;
    --heading-color: white;
    --text-opacity: var(--grey-l);
   }

[color-scheme="light"] {
    --textcolor: var(--grey-l);
    --blue-dl: hsl(212, 100%, 50%);
    --grey-l: hsl(217, 20%, 51%);
    --grey-l-opacity: rgba(105, 124, 155, 0.5);
    --navy-l: hsl(217, 35%, 45%);
    --black-dl: hsl(220, 40%, 13%);
    --light-blue-l: hsl(227, 100%, 98%);
    --white-l: hsl(0, 0, 100%);
    --navy-d: hsl(222, 41%, 20%);
    --background-color: var( --background-light);
    --button-svg: url("./assets/icon-moon.svg");
    --container-background: white;
    --heading-color: var(--black-dl);
    --text-opacity: var(--grey-l-opacity);
}

body {
    font-family: 'Space Mono', monospace;
    background-color: var(--background-color);
    color: var(--textcolor);
}

.theme {
    width: 30px;
    height: 30px;
    cursor: pointer;
     background-image: var(--button-svg);
   background-repeat: no-repeat;
   border: none;
   background-color: transparent;
}
.light-switch {
    margin: auto 1em;
    color:  var(--textcolor);
}

.theme:is(:hover, :focus) {
background-color: var(--white-l);
opacity: .8;
}

.info-div-container{
    display: grid;
    grid-template-columns: 25% 40% 35%;
    color: var(--textcolor);

}

.search-input:focus, textarea:focus, select:focus{
    outline: none;
}

.top-container,  .info-div-container {
    display: flex;
    margin: 6% 22%;
    margin-bottom: 1%;
    }

 .top-container {
    justify-content: space-between;
 }   

 h1{
     color: var(--heading-color);
 }
 .info-div-container {
        background-color: var(--container-background);
        border-radius: 1rem;
        padding-top: 1rem;
        padding-bottom: 2rem;

    }    
.search-container form {
    margin: 2% 22%;
    background-color: var(--container-background);
    display: grid;
    grid-template-columns: auto 80% auto;
    border-radius: 1rem;
    box-shadow: 0px 4px 3px var(--grey-l);
}

.search-icon  {
    padding: 1rem;
     margin: 0;
}

.search-input {
    padding: 1rem;
    padding-left: 0;
    margin-left: 0;
    border: none;
    outline: none;
    background-color: var(--container-background);
    font-size: 18px;
    color: var(--text-color);
}

.search-button {
padding: 0.5rem 1.0rem;
margin: 0.25rem;
background-color: var(--blue-dl);
border-radius: 12px;
color: white;
font-weight: bold;
}



.info-div-container{
    margin-top: 1rem;
   }
.container-flex-item {
width: 100%;
}

.avatar {
    height: 140px;
    border-radius: 50%;
    padding: 1rem;
    margin: 1rem;
}


.name, .created_at {
    margin: 0;
    padding: 0;
}

.profile-description, .social-numbers, .social-links {
    margin-right: 1rem;
    margin-left: 1rem;
}
.profile-description {
    min-width: 100%;
}



.created_at {
 color: var(--white-l);
text-align: end; 
}

.social-numbers {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: var( --background-color);
    margin-right: 3rem;
    padding-left: 2rem;
    border-radius: 12px;
}


.social-links {
    display: grid;
    grid-template-columns: 45% 45%;
    padding-top: 1rem;
  row-gap: 0.8rem;
}

.larger-text{
    font-size: 1.5rem;
    font-weight: bold;
padding-top: 0;
margin-top: 0;
color: var(--heading-color);
}

.category {
    padding-bottom: 0;
    margin-bottom: 0;
}

.user-info {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    display: grid;
    grid-template-columns: auto auto;
}

.name, .twitter_username {
    font-size: 2rem;
    margin-top: 0;
    padding-top: 0;
  
}

.twitter_username {
    font-size: 1rem;
color: var(--blue-dl);
}

.social-links div span, 
.social-links div a {
    width: 240px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.social-links div a {
    text-decoration: none;
    color: var(--textcolor);
}
.text-opacity {
    opacity: 0.5;
}
.text-opacity a {
    cursor: default;
}

@media only screen and (max-width: 1400px) {
    .profile-description {
      min-width: 500px;
          }
    .social-links div span, 
    .social-links div a {
        width: 180px;
    }

     .top-container,  .info-div-container {
            display: flex;
            margin: 2% 11%;
            margin-bottom: 1%;
            }


     .search-container form {
                margin: 2% 11%;
               
            }
        }

   @media only screen and (max-width: 1000px) {
          .profile-description {
           min-width: 400px;
                  }
            .social-links div span, 
            .social-links div a {
                width: 160px;
            }
        
             .top-container,  .info-div-container {
                    display: flex;
                    margin: 2% 9%;
                    margin-bottom: 1%;
                    }
        
        
             .search-container form {
                        margin: 2% 9%;
                        grid-template-columns: auto 70% auto;
                    }
                .avatar {
                    height: 120px;
                }
                }

     @media only screen and (max-width: 750px) {
           .profile-description {
              min-width: 300px;
                          }
           .social-links div span, 
         .social-links div a {
            width: 150px;
                      }
                  
        .top-container,  .info-div-container {
             display: flex;
              margin: 2% 8%;
               margin-bottom: 1%;
                              }
                  
                  
            .search-container form {
             margin: 2% 8%;
              grid-template-columns: auto 60% auto;
                              }

            .avatar {
                height: 110px;
            }
                          }

         @media only screen and (max-width: 650px) {
             .profile-description {
                 min-width: 200px;
                                           }
              .social-links div span, 
               .social-links div a {
                 width: 130px;
                                       }
                                   
                .top-container,  .info-div-container {
                  display: flex;
                  margin: 2% 7%;
                  margin-bottom: 1%;
                                               }
                                   
                                   
               .search-container form {
                 margin: 2% 7%;
                 grid-template-columns: auto 45% auto;
                                               }
                 
                .avatar {
                  height: 100px;
                             }
                .social-links {
                    grid-template-columns: auto;
                }


                .info-div-container{
                    display: grid;
                    grid-template-columns: auto auto;
                
                }

              
                                           }